html {
  font: normal 16px 'Roboto', sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
}

.text {
  color: $dark-gray;
  font-size: 1rem;
  font-weight: 400;
}

@include for-desktop-only {
  .title {
    font-size: 3.75rem;
  }
  
  .subtitle {
    font-size: 2.5rem;
  }
}