@import 'base', 'tipography', 'buttons', 'links', 'navbar', 'forms', 'header', 'promotion', 'shoes', 'footer';

.main {
  @include flx(center, column,center);
  height: 85vh;

  @include for-desktop-only {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    height: 82vh;
  }
}